.performance-table {
    padding: 1vw;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    max-height: 60vh;
    overflow: scroll;
    font-size: 1vw;
    white-space: nowrap;
  }
  
  .performance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .performance-colors {
    display: flex;
    align-items: center;
    font-size: 0.9vw;
  }
  
  .color-indicator {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color:#1F2937;
  }
  
  .color-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .table-container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-header-row {
    background: #f2f2f2;
  }
  
  .table-header {
    border-bottom: 1px solid #E5E7EB;
    background: #F1F1F1;
    padding: 0.5vw;
    text-align: left;
    color: #5E5E5E;
    font-weight: normal;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .sort-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
  }
  
  .sort-icon {
    cursor: pointer;
    opacity: 0.5;
    color: #5E5E5E;
  }
  
  .sort-icon.active {
    opacity: 1;
    color: #1F2937;
  }
  
  .table-row {
    border-bottom: 1px solid #E5E7EB;
  }
  
  .table-cell {
    padding: 8px;
    background: #FFFFFF;
    color: #1F2937;
  }
  
  .inspector-cell {
    display: flex;
    align-items: center;
  }
  
  .inspector-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .performance-cell {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .performance-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  